.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 40px 0;
}

.title {
    font-size: 20px;
}

.nav {
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }

    &-item {
        font-size: 12px;
    }

    &-link {}
}